.dashboard
  %h3=link_to "Add new class", new_provider_course_path(current_user)

  - if courses.blank?
    %h3 You haven't created a course, #{link_to "create one now...", new_provider_course_path(current_user)}
  - else
    %h3 You have #{pluralize(courses.active.count, 'active course')} and #{pluralize(courses.inactive.count, 'inactive course')}

  %ul.list
    %li= link_to "Active Courses", active_provider_courses_path(provider)
    %li= link_to "Inactive Courses", inactive_provider_courses_path(provider)
