= form_for provider do |f|
  %dl

    %dt= f.label :name
    %dd= f.text_field :name

    = f.fields_for :provider_address do |a|
      = render 'shared/address_form', f: a

    %dt= f.label :phone
    %dd= f.phone_field :phone

    %dt= f.label :fax
    %dd= f.text_field :fax

    %dt= f.label :website
    %dd= f.text_field :website

    %dt= f.label :email
    %dd= f.text_field :email

    %dt= f.label :cerp_number, "ADA Cerp Number"
    %dd= f.text_field :cerp_number

    %dt= f.label :password
    %dd= f.password_field :password

    %dt= f.label :password_confirmation
    %dd= f.password_field :password_confirmation

    = f.submit "Register"
