%td= provider.name
%td
  = form_tag :admins_provider_reject do
    = label_tag :comment
    = text_area_tag :comment
    = submit_tag "Confirm Rejection"
%td= link_to "Cancel", :unapproved_admins_providers
