%tr(class= "provider #{provider.id}")
  %td= provider.name
  %td= provider.cerp_number
  %td= provider.phone
  %td= provider.email
  - if provider.activated_at.nil? && !provider.rejected
    %td= link_to "Approve", admins_provider_approve_path(provider), method: :post
    %td= link_to "Reject", admins_provider_confirm_reject_path(provider), remote: true
