%tr(class= "provider #{provider.id}")
  %td= provider.name
  %td= provider.cerp_number
  %td= provider.phone
  %td= provider.email
  %td= button_to "Approve", {action: "approve", controller: "admins/providers", provider_id: provider}
  %td= link_to "Reject", {action: "confirm_reject", controller: "admins/providers", provider_id: provider}, remote: true
