%h4 #{scope.titleize} Providers
= link_to "All Providers", admins_providers_scoped_path(:all)
= link_to "Unapproved Providers", admins_providers_scoped_path(:unapproved)
= link_to "Approved Providers", admins_providers_scoped_path(:approved)
%table
  %thead
    %tr
      - ["Name", "ADA Number", "Phone", "Email"].each do |heading|
        %th= heading
  %tbody
    - providers.each do |provider|
      = render 'admins/providers/provider', provider: provider
