%dt= f.label :street_address_1, "Address"
%dd= f.text_field :street_address_1
%dd= f.text_field :street_address_2

%dt= f.label :city
%dd= f.text_field :city

%dt= f.label :state
%dd= f.select :state, US_State::NAMES

%dt= f.label :zip_code
%dd= f.text_field :zip_code

%dt= f.label :phone
%dd= f.phone_field :phone
