%dl
  %dt Title
  %dd= course.title

  %dt Description
  %dd= course.description

  %dt Category
  %dd= course.category

  %dt Price
  %dd= course.price

  %dt Instructor
  %dd= course.instructor

  %dt Address
  = course.formatted_address

  %dt Email
  %dd= course.email

  %dt Phone
  %dd= course.phone

  %dt Audience
  %dd= course.audience

  %dt Max Attendance
  %dd= course.max_attendance

  %dt Start Date
  %dd= course.start_date

  %dt End Date
  %dd= course.end_date
