!!! 5

%html
  %head
    %title PlanYourCE
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      - flash.keys.each do |type|
        .flash{ class: type }
          %p= flash[type]
    = yield
