!!! 5

%html
  %head
    %title PlanYourCE
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      %div.logo
        %h1= link_to "PlanYourCE", :root
        %p= link_to "View the Courses", :courses
      -if current_user
        .user_links
          = link_to "Sign out", :sign_out
          = link_to "Dashboard", :dashboard
    - flash.keys.each do |type|
      .flash{ class: type }
        %p= flash[type]
    .content
      = yield
