!!! 5

%html
  %head
    %title PlanYourCE
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      -if current_user
        = link_to "Sign out", :sign_out
      -else
        = link_to "Register", :new_provider
        = link_to "Sign in", :sign_in
      - flash.keys.each do |type|
        .flash{ class: type }
          %p= flash[type]
    = yield
